/* clients */

.clients__title {
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  flex-basis: calc(100% / 6 - 150px);
}
.clients__list .clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid $clients-icons-border;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}
.clients__icon {
  display: inline-block;
  fill: $icons-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $accent-color;
  }
}
